ac-comphist.dat
auto-save-list/
*.elc
/elpa
etc/dict
url/
/backup/*
!/backup/.keepme
/straight/*
!/straight/versions
/transient/
/tree-sitter

.cache/

conf/user-env.el
/share/
.lsp-session*
amx-items
kkcrc
network-security.data
plantuml.jar
prescient
projectile*
recentf
tramp

request/
/skk-jisyo
/conf/init.el
eln-cache/
