init.el
early-init.el
*.elc
elpa/
etc/dict
url/
elpaca/
transient/
tree-sitter/

.cache/

conf/user-env.el
share/
.lsp-session*
amx-items
kkcrc
network-security.data
plantuml.jar
prescient
project*
recentf
tramp

request/
skk-jisyo
eln-cache/
tabsession.el
