ac-comphist.dat
auto-save-list/
*.elc
/elpa
etc/dict
url/
/backup/*
!/backup/.keepme
/straight/*
!/straight/versions
/transient/

.cache/

conf/user-env-specified.el
/share/
.lsp-session*
amx-items
kkcrc
network-security.data
plantuml.jar
prescient
projectile*
recentf
tramp

request/
/skk-get-jisyo